.home {
  &-link {
    padding: 10px 20px;
    border: 1px solid #efefef;
    border-radius: 8px;
    transform: all 300ms ease-in-out;
    user-select: none;
    img {
      padding: 24px;
      width: 20vw;
    }
    &:hover {
      transform: scale(1.01);
    }
  }
}
